/* $block: '.quantity-input';
$border: 0 solid #dbdbdb;
$border-radius: 3px;
$color--primary: #f3f3f3;
$modifier--text-color: #888;
 */

 .quantity-input {
  display: flex;
  justify-content: center;
  align-items: center;
  
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 3px;
 }
 .quantity-input:focus {
    background: red;
  }


.quantity-input__modifier,
.quantity-input__screen {
  user-select: none;
  outline: none;
}

.quantity-input__modifier {
  padding: .7rem;
  width: 3rem;
  font-size: 1.5rem;
  
  background: #17583d;
  color: rgb(255, 255, 255);
  border: 0 solid #dbdbdb;
  text-align: center;
  text-shadow: 0 1px 0 rgba(#fff, .6);
  
  cursor: pointer;
}
.quantity-input__modifier:hover {
    background: darken(#f3f3f3, 10%);
    color: darken(#888, 20%)
  }
  
  .quantity-input__modifier--left {
    border-radius: 3px 0 0 3px;
  }
  
  .quantity-input__modifier--right {
    border-radius: 0 3px 3px 0;
  }


.quantity-input__screen {
  width: 4rem;
  padding: .7rem;
  font-size: 1.5rem;
  
  border: 0;
  border-top: 0 solid #dbdbdb;
  border-bottom: 0 solid #dbdbdb;
  text-align: center;
}

.image-adjust{
    width:90%;
    margin-left:    10%;
    height:60%;
    max-width: 600px;
}

.container_quantity
{
    flex-direction: row;
}

.single_container{
    width:40%;
}

.button_container2{
    width:80%;
    color:white;
    background-color:#f74b11;
}

@media screen and (max-width:990px){
    .image-adjust{
        width:380px;
        margin-left:20px;
        height:220px;
    }
}
@media screen and (max-width:780px){
    .image-adjust{
        width:300px;
        margin-left:20px;
        height:200px;
    }
}

@media screen and (max-width:690px){
    .image-adjust{
        width:100%;
        margin-left:5px;
        height:100px;
    }
    .container_quantity
{
    flex-direction: column;
    row-gap: 15px;
    width:100%;
}
.single_container{
    width: 80%;
}
.button_container{
    width:60%;
}
}




