.App {
  text-align: center;
}

.App-logo {
  
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
/*   font-family: 'Montserrat Alternates', sans-serif; */
  font-family: 'Source Code Pro', monospace;
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}


::-webkit-scrollbar{
  width:1em;
  background-color: transparent;
  background:linear-gradient( rgb(114, 23, 23),purple );
 
}

::-webkit-scrollbar-track{
  background:linear-gradient( rgb(114, 23, 23),purple );

  margin-block: 1em   ;
  
 
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(rgb(114, 23, 23),brown,rgb(100, 22, 100),blue,purple);
  border:0.2em solid hsla(24, 74%, 53%, 0.856);
  border-radius:10vw;

}


  *{
    scrollbar-color: rgb(22, 12, 114) rgb(189, 69, 22) ;
    
  }
